body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1899px;
  height:902px;
}
#u162 {
  position:absolute;
  left:0px;
  top:105px;
  width:1899px;
  height:902px;
}
#u163 {
  position:absolute;
  left:2px;
  top:443px;
  width:1895px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1899px;
  height:964px;
}
#u164 {
  position:absolute;
  left:1px;
  top:964px;
  width:1899px;
  height:964px;
}
#u165 {
  position:absolute;
  left:2px;
  top:474px;
  width:1895px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1899px;
  height:468px;
}
#u166 {
  position:absolute;
  left:0px;
  top:1926px;
  width:1899px;
  height:468px;
}
#u167 {
  position:absolute;
  left:2px;
  top:226px;
  width:1895px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1899px;
  height:1046px;
}
#u168 {
  position:absolute;
  left:0px;
  top:2394px;
  width:1899px;
  height:1046px;
}
#u169 {
  position:absolute;
  left:2px;
  top:515px;
  width:1895px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1899px;
  height:786px;
}
#u170 {
  position:absolute;
  left:0px;
  top:3440px;
  width:1899px;
  height:786px;
}
#u171 {
  position:absolute;
  left:2px;
  top:385px;
  width:1895px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:100px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 204, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:100px;
  font-size:28px;
  color:#FFFFFF;
}
#u173 {
  position:absolute;
  left:2px;
  top:34px;
  width:1896px;
  word-wrap:break-word;
}
#u174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u174 {
  position:absolute;
  left:20px;
  top:10px;
  width:523px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:523px;
  word-wrap:break-word;
}
#u176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:45px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(246, 246, 246, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u176 {
  position:absolute;
  left:177px;
  top:2146px;
  width:80px;
  height:45px;
  font-size:24px;
}
#u177 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
